<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
">
    <bean id="bookshelf" class="ma.rick.generics.Bookshelf">
        <property name="prices">
            <props>
                <prop key="小百科">18</prop>
                <prop key="辞海">555</prop>
                <prop key="新华字典">3.5</prop>
            </props>
        </property>
    </bean>
</beans>
